%h1#title
  Ben Franklin's Virtues

= render 'mail_signup'

%h2
  List of Virtues
%ol#virtues
  - @virtues.each do |virtue|
    %li
      %span.name
        = succeed ':' do
          = virtue.name
      %span.description= virtue.content

= render 'mail_signup'
