<!DOCTYPE html>
%html
  %head
    %title Ben Franklin's Wisdom
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #content
      -if flash[:error].present?
        = render 'layouts/flash', :type => :error, :message => flash[:error]
      -elsif flash[:notice].present?
        = render 'layouts/flash', :type => :notice, :message => flash[:notice]
      = yield
