<!DOCTYPE html>
%html
  %head
    %title Ben Franklin's Wisdom
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #content
      -if flash[:error].present?
        #flash{:class => 'error'}
          = flash[:error]
      -elsif flash[:notice].present?
        #flash{:class => 'notice'}
          = flash[:notice]
      = yield
